

:root{
    --primary:#23c561}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

.main-container{
    background: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    
}

.container{
    width: 60%;
    display: inline-block;
    margin: 20px;

}
h1{
    color:var(--primary);
    font-size: 74px;
    text-align: center;
    
}

p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    text-align: center;
}

imagem-home{
    display: flex;
    
}