:root{
    --primary:#23c561}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    background: black;
}
.title{
    
    border-left: 2px solid var(--primary);
}
h1{
    color: var(--primary);
    font-family: 'Poppins', sans-serif;
}
.card-container{
    display: flex;
    justify-content: center;
}
.card-skills{
    background: #070707;
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 15px 0px #0f0f0f;
    font-family: 'Poppins', sans-serif;
    display: inline;
    
}

.title-card{
    color: aliceblue;
    text-align: center;
}

img{
    width: 140px;
    position: relative;
    margin-left: 29px;
    margin-right:29px ;
    

}